@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-gradient {
    background: var(--gradient);
  }
  :root {
    --gradient: linear-gradient(to top left, #141e30, #243b55);
    --background: 232 97.05% 98.26%;
    --foreground: 232 4.1% 0.52%;

    --muted: 232 4.1% 91.3%;
    --muted-foreground: 232 2.05% 41.3%;

    --popover: 232 57.2% 91.3%;
    --popover-foreground: 232 4.1% 0.65%;

    --card: 232 57.2% 91.3%;
    --card-foreground: 232 4.1% 0.65%;

    --border: 232 9.1% 89.52%;
    --input: 232 9.1% 89.52%;

    --primary: 232 41% 13%;
    --primary-foreground: 232 0.82% 91.3%;

    --secondary: 232 2.05% 95.65%;
    --secondary-foreground: 232 3.46% 11.3%;

    --accent: 232 2.05% 95.65%;
    --accent-foreground: 232 3.46% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 232 41% 13%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @media print {
    @page {
      size: A4;
      margin: 10mm;
    }

    .printable {
      width: 210mm;
      height: 297mm;
      background-size: cover;
    }
  }
}
